[Desktop Entry]
Name=Claude.ai
Exec=/home/shadow/.local/bin/launch_web_apps.sh https://claude.ai/new
Terminal=false
Type=Application
Keywords=Ai;Chat;Browser
Comment=Claude Ai from Anthropic
Icon=anthropic-claude
Categories=Ai;Chat;
StartupNotify=false
