[Desktop Entry]
Name=Github
Exec=/home/shadow/.local/bin/launch_web_apps.sh https://github.com/
Terminal=false
Type=Application
Keywords=Code;Cloud;Browser
Comment=Github
Icon=github
Categories=Code;Cloud;
StartupNotify=false

