[Desktop Entry]
Name=Lazy Docker
Exec=foot lazydocker
Terminal=false
Type=Application
Icon=docker-desktop
Categories=Utility;System;
StartupNotify=false
Keywords=docker;container;monitor;system;cli;compose;
