[Desktop Entry]
Name=Lazy Git
Exec=foot lazygit
Terminal=false
Type=Application
Icon=git
Categories=Utility;System;
StartupNotify=false
Keywords=git;cli;repository;version control;commit;branch;status;
