[Desktop Entry]
Name=Youtube Music
Exec=/home/shadow/.local/bin/launch_web_apps.sh music.youtube.com
Terminal=false
Type=Application
Keywords=Music;Browser
Comment=Youtube Music
Icon=youtube-music
Categories=Music;
StartupNotify=false
