[Desktop Entry]
Name=Neovim
Exec=ghostty -e nvim
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=nvim
Categories=Utility;TextEditor;
StartupNotify=false
