[Desktop Entry]
Name=Todo
Exec=foot --title="todo" --window-size-chars=30x15 -o main.font='JetBrainsMono Nerd Font:size=16' -- nvim -u NONE -c "set laststatus=0 noruler" "TODO.md"
Terminal=false
Type=Application
Keywords=Text;editor;
Icon=todoist
Categories=Utility;TextEditor;
StartupNotify=false
Path=Documents/brain_of_obsidian
