[Desktop Entry]
Name=v0.dev
Exec=/home/shadow/.local/bin/launch_web_apps.sh https://v0.dev/
Terminal=false
Type=Application
Keywords=Ai;Code;Chat;Browser
Comment=v0.dev by Vercel
Icon=v0dev
Categories=Ai;Code;Chat;
StartupNotify=false

