[Desktop Entry]
Name=Wifi Menu
Exec=ghostty --theme=xcodelighthc --confirm-close-surface=false --class=com.ghostty.transparent -e 'nmtui'
Terminal=false
Type=Application
Keywords=Rofi;Wifi;Applet;
Icon=wifi-radar
Categories=Utility;Network;
StartupNotify=false
