[Desktop Entry]
Name=Wifi Menu
Exec=foot -o main.pad=8x8 impala
Terminal=false
Type=Application
Keywords=Rofi;Wifi;Applet;
Icon=wifi-radar
Categories=Utility;Network;
StartupNotify=false
