[Desktop Entry]
Name=Youtube
Exec=/home/shadow/.local/bin/launch_web_apps.sh m.youtube.com
Terminal=false
Type=Application
Keywords=Video;Browser;Yt
Comment=Youtube
Icon=youtube
Categories=Video;
StartupNotify=false
