nvim/.config/nvim/spell/en.utf-8.add.spl
wallpapers/Pictures/wallpapers/tmp.txt
roles/hyprland/files/config/hyprpaper.conf
roles/neovim/files/config/spell
roles/zsh/files/config/.zsh_history
roles/zsh/files/config/core/env.zsh
