[Desktop Entry]
Name=Emoji
Exec=rofi -show emoji -modi emoji | wl-copy
Terminal=false
Type=Application
Keywords=Text;Unicode;Emoji;Rofi;
Comment=Emoji Picker
Icon=face-smile
Categories=Utility;Applet;
StartupNotify=false
