[Unit]
Description=Kanata keyboard remapper
Documentation=https://github.com/jtroo/kanata

[Service]
User=shadow
Environment=PATH=/usr/bin:%h/.local/share/cargo/bin
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/sh -c '%h/.local/share/cargo/bin/kanata --cfg %h/.config/kanata/config.kbd'
Restart=no

[Install]
WantedBy=default.target

